//vars for pink

@background-color: #1d2631;
@background-color-white: #fff;
@background-color-gray: #ccc;
@font-family: 'Open Sans', 'Arial', sans-serif;
@font-size: 14px;
@all-size: 320px;
@b-page-header-height: 65px;

.block_center() {
    margin: 0 auto;
}



.b-page-header {
    background: @background-color;
    opacity: 0.8;
    min-height: @b-page-header-height;
    min-width: @all-size;
    
}

.b-info {
    min-width: @all-size;   
}


.b-dwnl-app {
 background: @background-color;    
}

.b-proposal {
    background: @background-color-white;
}

.b-desc-app {
    background: @background-color-gray;
}

.b-feedback {
    background: @background-color-white;
}

.b-prices {
    background: @background-color-gray;
}



.b-contacts {
    background: @background-color-white;
}